<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form method="post">
        {% csrf_token %}
        
        <p>Email: <input type="email" name="email" placeholder="Email" required></p> 
        
        <p>Senha: <input type="password" name="senha" placeholder="Senha" required></p>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>