{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
    <div class="container">
       
        <div class="card">
            <h1>PERFIL</h1>

            <ul>
                <li><strong>Nome:</strong> {{ user.username }}</li>
                <li><strong>Tipo de Usuário:</strong> {{ user.tipo_usuario }}</li>
                <li><strong>Matrícula:</strong> {{ user.matricula }}</li>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <li><strong>Curso:</strong> {{ user.curso }}</li>
            </ul>
            <div class="botoes">
                <a href="{% url 'editar_perfil' %}" class="btn editar">Editar</a>
                <a href="{% url 'index' %}" class="btn voltar">Voltar</a>
            </div>
        </div>

      
        <div class="card">
            <h2>MINHAS NOTAS</h2>
            {% if request.user.is_authenticated %}
                <a href="{% url 'criar_nota' %}" class="btn criar">Criar Notas</a>
            {% endif %}
            {% if notas %}
                <ul>
                    {% for nota in notas %}
                        <li>
                            <strong>{{ nota.titulo }}</strong> - <em>Publicado em: {{ nota.data_publicacao }}</em>
                            {% if request.user == nota.usuario or request.user.is_superuser %}
                                <div class="nota-botoes">
                                    <a href="{% url 'criar_nota' nota.id %}" class="btn editar">Editar</a>
                                    <a href="{% url 'excluir_nota' nota.id %}" class="btn excluir">Excluir</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Você ainda não cadastrou nenhuma nota.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
