:root {
    --ver-color: #91da31;
    --cinza-color: #404143;
    --preto-color: #1d1c1c;
    --cinza-claro-color: #f5c6cb;
    --branco-color: #fff;
    --cinza-fundo-color: #f4f4f4;
    --cinza-texto-color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--preto-color);
    color: var(--cinza-texto-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--cinza-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 6px rgba(40, 255, 62, 0.518);
    width: 25%;
    height: 60%;
  
    text-align: center;
}

h1 {
    color: var(--branco-color);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    font-weight: bold;
    color: var(--branco-color);
    margin-bottom: 10px;
    margin-left: 2%;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    border: 1px solid var(--cinza-texto-color);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 30px;
}

button {
    background-color: var(--ver-color);
    color: var(--branco-color);
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 60%;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #518310;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }
}
