
:root {
    --ver-color: #91da31;
    --cinza-color: #404143;
    --preto-color: #1d1c1c;
    --cinza-claro-color: #f5c6cb;
    --branco-color: #fff;
    --cinza-fundo-color: #f4f4f4;
    --cinza-texto-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--preto-color);
    color: white;
    padding: 15px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 24px;
    margin-left: 5%;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 5%;
}
header ul li a {
    background-color: var(--ver-color);
    border-radius: 8px;
    padding: 7px;
    margin-left: 15px;
    color: var(--branco-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
}

header ul li a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: var(--branco-color);
    background-color: var(--cinza-color);
    transition: background-color 0.3s ease;
}

/* Mensagens */
header .messages {
    padding: 10px;
    margin: auto 0;
    border-radius: 5px;
}

header .success {
    color: #000000;
}

header .error {
    background-color: #ffffff;
}

/* Main */
main {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    align-items: center;
}

main h1 {
    text-align: center;
    color: #333;
}

main div {
    margin-top: 20px;
}

main div ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 20px;
}

main div ul li {
    width: 100%; 
    max-width: 400px;
    padding: 15px;
    background-color: #FFF9C4;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}


main div ul li h3, 
main div ul li p {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-overflow: ellipsis; 
}

main div ul li h3 {
    margin-top: 0;
    color: #333;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

main div ul li p {
    margin: 5px 0;
    color: #555;
}

main div ul li p strong {
    color: #333;
}

main div ul li em {
    font-size: 0.9em;
    color: #888;
}

.hidden {
    display: none;
}

button {
    background-color: #ddeedd;
    color: rgb(85, 81, 81);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #c9d5ca;
}

@media (max-width: 1024px) {
    main div ul {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    main div ul {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    header h1 {
        font-size: 20px;
    }

    header ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    main div ul {
        grid-template-columns: 1fr; 
    }
}